{% extends "base.html.twig" %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if serverAddress is defined %}
        window.serverAddress = '{{ serverAddress|e('js') }}';
        {% else %}
        window.serverAddress = null;
        {% endif %}
    </script>
    {{ encore_entry_script_tags('products') }}
{% endblock %}